<?xml version="1.0" encoding="UTF-8" ?>
<suite name="report1">
    <test name="methodDemo">
        <classes>
            <class name="com.tester.extend.demo.TestMethodsDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    配置-->
    <listeners>
        <listener class-name="com.tester.extend.demo.ExtentTestNGReporterListener"></listener>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener>-->
    </listeners>
</suite>